{%if len(model)>0 %}
<div>                
    <div style="padding-left:10px;">
        {%for col in model%}
        <div class="layout-onecolumn">    
	        <div calss="editor-label">
		        {{col["title"]}}
	        </div>
	        <div class="editor-field">
		        <input type="text" id="{{col['name']}}" class="easyui-validdatebox {% if col.has_key('easyuiclass') %} {{col['easyuiclass']}} {%end%} " name="{{col['name']}}" validType="{{col['validType']}}" />
	        </div>   
        </div>
        {% end %}   
</div>
</div>
<div style="padding-top:20px;">
                    <a id="asearch" href="#" iconCls="icon-search" plain="true"
                    class="easyui-linkbutton">查询</a>
</div>
{%end%}
