<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{{ escape(handler.settings["blog_title"]) }}</title>
        <link href="{{ static_url("Site.css")}}" rel="stylesheet" type="text/css" />
        <link href="{{ static_url("Scripts/Lib/jquery-easyui-1.2.4/themes/default/easyui.css")}}" rel="Stylesheet"
        type="text/css" />
        <link href="{{ static_url("Scripts/Lib/jquery-easyui-1.2.4/themes/icon.css")}}" rel="Stylesheet"
        type="text/css" />
        <script src="{{ static_url("Scripts/jquery-1.6.2.min.js")}}" type="text/javascript"></script>
        <script src="{{ static_url("Scripts/jquery.json-2.2.min.js")}}" type="text/javascript"></script>
        <script src="{{ static_url("Scripts/Lib/jquery-bgiframe/jquery.bgiframe.js")}}" type="text/javascript"></script>
        <script src="{{ static_url("Scripts/Lib/jquery-easyui-1.2.4/jquery.easyui.min.js")}}" type="text/javascript"></script>
        <script src="{{ static_url("Scripts/jquery.easyui.validate.unobtrusive.js")}}" type="text/javascript"></script>
        <script src="{{ static_url("Scripts/Lib/jquery-easyui-1.2.4/locale/easyui-lang-zh_CN.js")}}" type="text/javascript"></script>
        <script src="{{ static_url("Scripts/Common.js")}}" type="text/javascript"></script>
        <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["blog_title"]) }}"/>
        {% block head %}{% end %}
        <script language="JavaScript" type="text/javascript">
            function openpage(name, url,hasprogress) {
                if($('#tt').tabs('exists', name)) {
                    $('#tt').tabs('select', name);
                } else {
                    $('#tt').tabs('add', {
                        title : name,
                        closable : true,
                        content : '<div id="' + name + '" style="height:99%;padding-top:2px;"></div>'
                    });
                    if(hasprogress && hasprogress == true ){
                        $.messager.progress({
                            title : '请稍后',
                            msg : '页面读取中.....'
                        });
                    }
                    $('#' + name).load(url, null, function() {
                        if( hasprogress && hasprogress==true){                        
                            $.messager.progress('close');                           
                        }                        
                        $('#' + name).easyuiparse().unobtrusiveparse();
                    });
                }
            }
        </script>
        <script language="javascript">
            $(document).ready(function() {
                $('#menu').tree();
                openpage('报警信息','/alarm/list');
            });

        </script>
    </head>
    <body class="easyui-layout">
        <div region="north" border="false" style="height: 66px; background-image: url({{static_url("Images/td3backtop.gif")}})">
            <div style="margin: 2px; padding: 0px 0px 0px 20px; float: left">
                <img alt="程运网络" style="float: left" src="{{static_url("Images/smalllogo.gif")}}" height="60px" />
                <h1 style="float: left"><a href="/">{{ escape(handler.settings["blog_title"]) }}</a></h1>
            </div>
            <div style="float: right; margin: 1px">
                <div style="text-align: right; margin: 0px 10px;">
                    {% if current_user %} <a href="/compose">{{ _("New post") }}</a> - <a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a>
                    <a href="/all">{{_("All Post")}}</a>
                    {% else %}
                    {{ _('<a href="%(url)s">Sign in</a> to compose/edit') % {"url": "/auth/login?next=" + url_escape(request.uri)} }}
                    {% end %}
                </div>
                <div style="text-align: right; margin: 4px 10px;"></div>
            </div>
        </div>
        <div region="west" split="true" title="导航栏" style="width: 200px; padding: 1px;">
            <ul id="menu">
                <li>
                    <span>参数管理</span>
                    <ul>
                        <li>
                            <span><a href="#" onclick="openpage('恶意地址配置','/evilip/list')">恶意地址配置</a></span>
                        </li>
                        <li>
                            <span><a href="#" onclick="openpage('所有域名','/dns/list')">所有域名配置</a></span>
                        </li>                        
                        <li>
                            <span><a href="#" onclick="openpage('检测参数配置','/globalpara/list')">检测参数配置</a></span>
                        </li>
                        <li>
                            <span><a href="#" onclick="openpage('木马规则配置','/usertrojanrule/list')">木马规则配置</a></span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>报警信息</span>
                    <ul>
                        <li>
                            <span><a href="#" onclick="openpage('报警信息','/alarm/list')">查看报警信息</a></span>
                        </li>
                        <li>
                            <span><a href="#" onclick="openpage('事件子因','/event/list')">查看事件子因</a></span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>警报分析</span>
                    <ul>
                        <li>
                            <span><a href="#" onclick="openpage('警报事件分析','/alarm/analyse')">警报事件分析</a></span>
                        </li>
                        <li>
                            <span><a href="#" onclick="openpage('警报事件态势','/report/alarmbarreport',false)">警报事件态势</a></span>
                        </li>
                        <li>
                            <span><a href="#" onclick="openpage('警报事件统计','/report/alarmpiereport')">警报事件统计</a></span>
                        </li>
                        <li>
                            <span><a href="#" onclick="openpage('警报因子分析','/event/analyse')">事件因子分析</a></span>
                        </li>
                        <li>
                            <span><a href="#" onclick="openpage('事件因子态势','/report/piechart',false)">事件因子态势</a></span>
                        </li>
                        <li>
                            <span><a href="#" onclick="openpage('事件因子统计','/system/info')">事件因子统计</a></span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>系统管理</span>
                    <ul>
                        <li>
                            <span><a href="#" onclick="openpage('用户信息','/users/list')">用户信息</a></span>
                        </li>
                        <li>
                            <span><a href="#" onclick="openpage('资源信息','/resources/list')">资源信息</a></span>
                        </li>
                        <li>
                            <span><a href="#" onclick="openpage('权限控制','/permision/list')">权限控制</a></span>
                        </li>
                        <li>
                            <span><a href="#" onclick="openpage('操作日志','/loginfo/list')">操作日志</a></span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>系统状态</span>
                    <ul>
                        <li>
                            <span><a href="#" onclick="openpage('系统状态','/system/info')">查看系统状态</a></span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div region="south" border="false" style="height: 5px; background: #ffffff; padding: 10px;"></div>
        <div id="center" region="center" style="padding: 5px; position: relative; left: 0;top: 0;">
            <div id="tt" class="easyui-tabs"  fit="true"  border="false">
                <div title="首页">
                    {% block body %}{% end %}
                </div>
            </div>
        </div>
        {% block bottom %}{% end %}
    </body>
</html>
