{% extends "reportbase.html" %}

{% block script %}
<script type="text/javascript">
    	/**
	 * Request data from the server, add it to the graph and set a timeout to request again
	 */
	function requestData() {
		$.ajax({
			url : '/test/testhandler',
			success : function(point) {
				console.log(point);
				var options = {
					chart : {
						renderTo : 'container',
						type : 'bar'
					},
					title : {
						text : 'Fruit Consumption'
					},
					xAxis : {
						categories : ['Apples', 'Bananas', 'Oranges']
					},
					yAxis : {
						title : {
							text : 'Fruit eaten'
						}
					},
					series : eval("("+point+")")
				};
				chartbar = new Highcharts.Chart(options);
				// call it again after one second
				//setTimeout(requestData, 10000);
			},
			cache : false
		});
	}

	var chartbar;
	// globally available
	$(document).ready(function() {
		requestData();
	});
</script>
{% end %}

{% block body %}
    <div id="container" style="width: 100%; height: 400px"></div>
{% end %}

