<script language="JavaScript" type="text/javascript">
 
    $(document).ready(function() {
        $("#toolbar_{{tableid}}_add").click(function(){
            var dialogId = "dialog_{{tableid}}";
            $("#"+dialogId).dialog("open","true");
            return false;
        });

		$('#{{tableid}}').datagrid({
			queryParams : {
				'_xsrf' : $("input[name=_xsrf]").val()
			}
		});

        $("form#search_{{tableid}}").submit(function(){
            $("#{{tableid}}").datagrid("reload",$("form").serializeObject());
            return false;
        });
	});
</script>
<div id="search" class="easyui-accordion" collapsed="true">
	<div title="查询条件" iconCls="icon-search" fit="true" style="float:left;">
        <form action="{{url}}" method="post" id="search_{{tableid}}">
            {{xsrf_form_html()}}
            {{modules.Search(search_columns)}}
            <input type="submit" name="Submit" value="Search"/>    
        </form>
	</div>    
</div>
<table id="{{tableid}}" fit="true" url="{{url}}" title="{{title}}"  rownumbers="{{rownumbers}}" 
       pagination="{{pagination}}" toolbar="#toolbar_{{tableid}}">
	<thead>
		<tr>
			{% for col in columns %} 
                <th field="{{col['field']}}" width="{{col['width']}}" align="{{col['align']}}">{{col['title']}}</th>
			{% end %}
		</tr>
	</thead>
</table>
<div id="toolbar_{{tableid}}">
    <a herf="#" id="toolbar_{{tableid}}_add" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
    <a herf="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" >修改</a>
    <a herf="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="">删除</a>
</div>

<div id="dialog_{{tableid}}" class="easyui-dialog" style="padding:5px;width:750px;height:500px;"  
     title="添加" iconCls="icon-ok" modal="true"  buttons="#dlg_{{tableid}}_buttons" closed="true" 
     href="/data/addform?tablename={{tableid}}">    
</div>
<div id="dlg_{{tableid}}_buttons">  
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="javascript:alert('Ok')">提交</a>  
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dialog_{{tableid}}').dialog('close')">取消</a>
</div>
