<script language="JavaScript" type="text/javascript">
    function create() {
        var valid = true;
        $("input[required=true]","#dialog_{{entityname}} form#{{entityname}}_add").each(function(){
            valid = valid && $(this).validatebox('isValid');        
        });
        if( !valid ){
            //alert("valid false");
            return false;
        }
        //alert("valid true");
        $.post("{{addAction}}", $("#dialog_{{entityname}} form#{{entityname}}_add").serializeObject(), function(data) {
            if(data.result == "success") {
                $("div#search_{{entityname}} #asearch").click();
                $("#dialog_{{entityname}}").dialog("close");
                $("form[action='{{addAction}}']")[0].reset();
            } else {
                $.messager.alert('error', 'create data failed');
            }
        }, "json");
        return false;
    }

    function remove() {
        // alert('{{entityname}}');
        var row = $("#{{entityname}}").datagrid("getSelected");
        if(!row) {
            $.messager.alert("没有选中的行", "Please select one item to remove!", "warning")
            return false;
        }

        $.post("{{removeAction}}", {
            'entityname' : '{{entityname}}',
            'id' : row.id,
            '_xsrf' : $("input[name=_xsrf]").val()
        }, function(data) {
            if(data.result == "success") {
                $("div#search_{{entityname}} #asearch").click();
            } else {
                $.messager.alert('出错了', 'remove data failed,' + data.result, "warning");
            }
        }, "json");
        return false;
    }

    function editShow() {
        //alert("{{entityname}}");
        var row = $("#{{entityname}}").datagrid("getSelected");
        if(!row) {
            $.messager.alert("没有选中的行", "Please select one item to edit!", "warning")
            return false;
        }

        var dialogId = "dialog_edit_{{entityname}}";
        var $dialog = $("#" + dialogId);
        var h = "{{editAction}}?entityname={{entityname}}&id=" + row.id;
        //$dialog.dialog("options").href = h;
        //alert($dialog.dialog("options").href);
        //alert(h);
        $dialog.dialog({
            cache : false,
            model : true,
            onOpen : function() {
                $dialog.dialog("refresh", h);
            }
        });
        //alert( $dialog.dialog("options").href );
        $dialog.dialog("open", "true");
        return false;
    }

    function editSubmit() {
        $.post("{{editAction}}", $("#dialog_edit_{{entityname}} form#{{entityname}}_add").serializeObject(), function(data) {
            if(data.result == "success") {
                $("div#search_{{entityname}} #asearch").click();
                $("#dialog_edit_{{entityname}}").dialog("close");
                $("form[action='{{editAction}}']")[0].reset();
            } else {
                $.messager.alert('error', 'edit data failed');
            }
        }, "json");
        return false;
    }

    function clickRow(rowIndex,rowData) {
        //alert(rowIndex);
        //$("#{{entityname}}_children").load("/dns/list");
        //alert("abc");
        //alert(rowData.type);
        $("#{{entityname}}_children").datagrid({
            url:'/alarmchield/list?alarm_id='+rowData.id,
            title:'', 
            height:'300',
            pagination:'true',
            queryParams : {
                '_xsrf' : $("input[name=_xsrf]").val()
            },
            columns:[[
                {field:'sip',title:'sip',width:100},
                {field:'sport',title:'sport',width:200},
                {field:'dmac',title:'dmac',width:100}
            ]]
        });
        return false;
    }


    $(document).ready(function() {
        $("#toolbar_{{entityname}}_add").click(function() {
            var dialogId = "dialog_{{entityname}}";
            $("#" + dialogId).dialog("open", "true");
            return false;
        });
        //show edit data
        $("#toolbar_{{entityname}}_edit").bind("click", editShow);

        //submit edit
        $("#{{entityname}}_edit_btn_add").bind("click", function() {
            editSubmit();
            return false;
        });

        $('#{{entityname}}').datagrid({
            queryParams : {
                '_xsrf' : $("input[name=_xsrf]").val()
            },
            height:'550'
        });

        $("div#search_{{entityname}} #asearch").click(function() {
            $("#{{entityname}}").datagrid("reload", $("div#search_{{entityname}} form").serializeObject());
            return false;
        });

        $("#{{entityname}}_btn_add").bind("click", create);
        $("#toolbar_{{entityname}}_remove").bind("click", remove);

    });

</script>

    <!-- gridview start -->
    <!-- search form start -->
    <div id="search_{{entityname}}" class="easyui-accordion" collapsed="true">
        <div title="查询条件" iconCls="icon-search">
            <form action="{{url}}" method="post" id="search">
                {{xsrf_form_html()}}
                <div>                    
                    {{modules.Search(search_columns)}}
                </div>               
            </form>
        </div>
    </div>
    <!-- search form end -->
    <table id="{{entityname}}" fit="true" url="{{url}}" title="{{title}}"  rownumbers="{{rownumbers}}" onSelect="clickRow"
    pagination="{{pagination}}" {% if canAdd==True or canEdit==True or canRemove==True %} toolbar="#toolbar_{{entityname}}" {% end %} singleSelect="true">
        <thead>
            <tr>
                {% for col in columns %}
                {% if col.show == True %} <th field="{{col.field}}" width="{{col.width}}"
                align="{{col.align}}">{{col.title}}</th>
                {% end %}
                {% end %}
            </tr>
        </thead>
    </table>
    <div id="toolbar_{{entityname}}">
        {% if canAdd==True %} <a herf="#" id="toolbar_{{entityname}}_add" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
        {% end %}
        {% if canEdit==True %} <a herf="#" id="toolbar_{{entityname}}_edit" class="easyui-linkbutton" iconCls="icon-edit" plain="true" >修改</a>
        {% end %}
        {% if canRemove==True %} <a herf="#" id="toolbar_{{entityname}}_remove" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
        {% end %}
    </div>
    <!-- gridview end -->
    {% if canAdd==True %} <!-- add dialog start -->
    <div id="dialog_{{entityname}}" class="easyui-dialog" style="padding:5px;width:750px;height:500px;"
    title="添加" iconCls="icon-ok" modal="true"  buttons="#dlg_{{entityname}}_buttons" closed="true"
    href="{{addAction}}?entityname={{entityname}}"></div>
    <div id="dlg_{{entityname}}_buttons">
        <a id="{{entityname}}_btn_add" href="#" class="easyui-linkbutton" iconCls="icon-ok">提交</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dialog_{{entityname}}').dialog('close')">取消</a>
    </div>
    <!-- add dialog end -->
    {% end %}

    {% if canEdit==True %} <!-- edit dialog start -->
    <div id="dialog_edit_{{entityname}}" class="easyui-dialog" style="padding:5px;width:750px;height:500px;"
    title="Save" iconCls="icon-ok" modal="true"  buttons="#dlg_edit_{{entityname}}_buttons" closed="true"
    ></div>
    <div id="dlg_edit_{{entityname}}_buttons">
        <a id="{{entityname}}_edit_btn_add" href="#" class="easyui-linkbutton" iconCls="icon-ok">提交</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dialog_edit_{{entityname}}').dialog('close')">取消</a>
    </div>
    <!-- edit dialog end -->
    {% end %}
<div id="{{entityname}}_children" >children</div>
