<style type="text/css">
    .datatable {
        width: 700px;
        padding: 0;
        margin: 0;
    }
    .datatable  caption {
        padding: 0 0 5px 0;
        width: 700px;
        font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        text-align: right;
    }
    .datatable th {
        font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        color: #4f6b72;
        border-right: 1px solid #C1DAD7;
        border-bottom: 1px solid #C1DAD7;
        border-top: 1px solid #C1DAD7;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: left;
        padding: 6px 6px 6px 12px;
        background: #CAE8EA no-repeat;
    }
    .datatable th.nobg {
        border-top: 0;
        border-left: 0;
        border-right: 1px solid #C1DAD7;
        background: none;
    }
    .datatable  td {
        border-right: 1px solid #C1DAD7;
        border-bottom: 1px solid #C1DAD7;
        background: #fff;
        font-size: 11px;
        padding: 6px 6px 6px 12px;
        color: #4f6b72;
    }
    .datatable td.alt {
        background: #F5FAFA;
        color: #797268;
    }
</style>
<div id="hardinfo" class="easyui-accordion"  style="height:300px;">
    <div title="内存使用情况" iconCls="icon-ok" style="overflow: auto;padding: 10px;height:100px;">
        <table class="datatable">
            <thead>
                <th>大小</th>
                <th>已用</th>
                <th>剩余</th>
                <th>百分比</th>
            </thead>
            <tbody>
                <tr>
                    <td >{{meminfo['MemTotal']}} MB</td>
                    <td >{{meminfo['MemUsed']}} MB</td>
                    <td>{{meminfo['MemFree']}} MB</td>
                    <td>
                    <div style="width:200px;height:25px;background:green;padding:2px;">
                        <div style="background:pink;width: {{int(meminfo['Percent'])}}%;height:24px;">
                            {{int(meminfo['Percent'])}}%
                        </div>
                    </div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div title="硬盘使用情况" iconCls="icon-ok" style="padding: 10px;">
        <table class="datatable">
            <thead>
                <tr>
                    {%for item in diskinfo[0]%} <th>{{item}}</th>
                    {%end%}
                </tr>
            </thead>
            <tbody>
                {%for item in diskinfo[1]%}
                <tr>
                    {%for col in item%} <td>{{col}}</td>
                    {%end%}
                </tr>
                {%end%}
            </tbody>
        </table>
    </div>
    <div title="运行时间" iconCls="icon-ok" style="padding: 10px;">
        <table class="datatable">
            <thead>
                <th>开机时间</th>
                <th>已运行时间</th>                
            </thead>
            <tbody>
                <tr>
                    <td >{{time_info['starttime']}}</td>
                    <td >{{time_info['runtime']}}</td>                   
                </tr>
            </tbody>
        </table>
    </div>
    <div title="用户信息" iconCls="icon-ok" style="padding: 10px;"></div>
    <div title="网络接口" iconCls="icon-ok" style="padding: 10px;">
        {%for line in networkinfo%}
            {{line}}<br/>
        {%end%}
    </div>
</div>
